
    <div class="view" (click)='this.interact("miband")'>
      <div class="plane main">
        <div [style.box-shadow]=styleBoxShadow() class="circle"></div>
        <div [style.box-shadow]=styleBoxShadow() class="circle"></div>
        <div [style.box-shadow]=styleBoxShadow() class="circle"></div>
        <div [style.box-shadow]=styleBoxShadow() class="circle"></div>
        <div [style.box-shadow]=styleBoxShadow() class="circle"></div>
        <div [style.box-shadow]=styleBoxShadow() class="circle"></div>
        <div [style.box-shadow]=styleBoxShadow() class="circle"></div>
      </div>
    </div>
    <audio style='visibility:hidden' #player controls playsinline></audio>
