<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Earth from Mars</mat-card-title>
    <mat-card-subtitle>Information</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class='text' style="opacity: unset;">
      <svg id="icon-pie-chart" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none"
        stroke="#2a2a31" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
        <path class="chart-data" stroke="#ea3970" d="M22 12A10 10 0 0 0 12 2v10z"></path>
      </svg>
      <span id="angle">{{this.angle}}°</span><br />
      <svg id="icon-take-off" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        style="isolation:isolate" viewBox="0 0 512.005 512.005" width="512.005" height="512.005">
        <rect fill="#2a2a31" x="16.539" y="425.626" width="479.767" height="50.502" transform="matrix(1,0,0,1,0,0)"
          fill="rgb(0,0,0)" />
        <path class="plane-take-off"
          d=" M 510.7 189.151 C 505.271 168.95 484.565 156.956 464.365 162.385 L 330.156 198.367 L 155.924 35.878 L 107.19 49.008 L 211.729 230.183 L 86.232 263.767 L 36.614 224.754 L 0 234.603 L 45.957 314.27 L 65.274 347.727 L 105.802 336.869 L 240.011 300.886 L 349.726 271.469 L 483.935 235.486 C 504.134 230.057 516.129 209.352 510.7 189.151 Z "
          fill="#ea3970" />
      </svg>
      <span id="distance">{{this.distance}}km</span><br />
      <svg id="icon-location" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20"
        enable-background="new 0 0 20 20" xml:space="preserve">
        <path d="M9.3,19.7C8.5,18.9,2,12.2,2,8c0-4.4,3.6-8,8-8s8,3.6,8,8c0,4.2-6.5,10.9-7.3,11.7C10.3,20.1,9.7,20.1,9.3,19.7z M10,2
                  C6.7,2,4,4.7,4,8c0,2.5,3.8,7.2,6,9.5c2.2-2.3,6-7,6-9.5C16,4.7,13.3,2,10,2z" />
        <circle cx="10" cy="8" r="2" fill="#ea3970" />
      </svg>
      <span id="position">{{this.position}}</span>
  </mat-card-content>
</mat-card>
