.example-card {
  max-width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  background: rgba(255,255,255, 0.6);
}

.icons {
  height: 10%;
  width: 10%;
  text-align: center;
  padding-right: 3%;
}

/*icons*/
div {
  margin-top: 10%;
  margin-left: 50%;
}

svg {
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100px;
}

#icon-hearbeat {
  -webkit-animation-name: heartbeat2;
  animation-name: heartbeat2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes heartbeat2 {
  from {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transform-origin: center center;
          transform-origin: center center;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  }

  10% {
          -webkit-transform: scale(0.91);
          transform: scale(0.91);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  }

  17% {
          -webkit-transform: scale(0.98);
          transform: scale(0.98);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  }

  33% {
          -webkit-transform: scale(0.87);
          transform: scale(0.87);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  }

  45% {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  }
}

@keyframes heartbeat2 {
  from {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transform-origin: center center;
          transform-origin: center center;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  }

  10% {
          -webkit-transform: scale(0.91);
          transform: scale(0.91);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  }

  17% {
          -webkit-transform: scale(0.98);
          transform: scale(0.98);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  }

  33% {
          -webkit-transform: scale(0.87);
          transform: scale(0.87);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  }

  45% {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  }
}

/*footsteps*/

#icon-footsteps .foot1 {
  -webkit-animation-name: foot1;
  animation-name: foot1;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  margin-top: -10px;
}

#icon-footsteps .foot2 {
  -webkit-animation-name: foot2;
  animation-name: foot2;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes foot1 {

  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes foot1 {

  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@-webkit-keyframes foot2 {

  25%,
  75% {
    opacity: 1;
  }

  from,
  50%,
  to {
    opacity: 0;
  }
}

@keyframes foot2 {

  25%,
  75% {
    opacity: 1;
  }

  from,
  50%,
  to {
    opacity: 0;
  }
}

#icon-spinner {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes storking {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes storking {
  to {
    stroke-dashoffset: 0;
  }
}

#icon-charge .charging {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: storking;
  animation-name: storking;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

#icon-navigation {
  -webkit-animation-name: nav-arrow;
  animation-name: nav-arrow;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes nav-arrow {
  0% {
          -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  }

  14% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }

  28% {
          -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  }

  42% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }

  70% {
          -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  }
}

@keyframes nav-arrow {
  0% {
          -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  }

  14% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }

  28% {
          -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  }

  42% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }

  70% {
          -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  }
}

#icon-cake .candle {
  -webkit-animation: scale-up-bottom 2s linear infinite;
  animation: scale-up-bottom 2s linear infinite;
}

@-webkit-keyframes scale-up-bottom {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes scale-up-bottom {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
